h1 {
  color: lightblue;
  font-size: 100px;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 20px;
}

.js-form {
  color: lightblue;
  text-align: center;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: lightblue;
}

body {
  background-color: lightcyan;
}

.js-toDoForm {
  text-align: center;
  margin-top: 10px;
}

.js-toDoList {
  text-align: center;
  color: lightblue;
}
